@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@100;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html, #root{
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#root {
    position: relative;
}